.blog {
  color: black;
  font-size: 20px;
  padding: 5px;
}

.blogTable {
  border: solid;
  border-width: 2px;
  border-collapse: collapse;
  padding: 10px;
}

.userTable {
  border: solid;
  padding: 5px;
}

.blogButton {
  padding: 5px;
  border: solid;
  border-width: 2px;
  margin-bottom: 5px;
  vertical-align: top;
}

.deleteButton {
  padding: 10px;
  background: #e9e9e9;
  border-radius: 20px;
  border: none;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.info {
  color: dimgray;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

input {
  margin-left: 5px;
}

.inlineElements{
  display: inline;
}
